.app {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
 
}

h1, h2, h3, p, button  {
    margin: .5em;
    padding: .5em;
}

